body{
    font-family: "Open Sans", sans-serif;
    background-color:#a4aab1;
    color: #1b6fce;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25pt;
    text-align: center;
}

h1{
    font-size: 50pt;
}

h2{
    margin: .1em;
}

header{
    text-align: center;
}

/*Hero section*/

#hero, footer{
    text-align: center;
    border: 5px solid #1A477A;
    padding: 10px;
    background-color: #2A73C7;
    color: #000000;
}

#hero img{
    width: 300px;
}

/*Bio Section*/

#bio{
    text-align: center;
    color:rgb(0, 0, 0);
}

#bio h2{
    color: #1b6fce;
}

/*Hobbies section*/

#hobbies{
    display: flex; 
    flex-direction: column; 
    align-items: center;    
}

#hobbies ul{
    list-style-type: square;
    padding: 2pt;
    text-align: center;
}

#hobbies ul li:nth-child(3n){
    color: #1A477A; 
    padding: 3pt;
}

#hobbies ul li:nth-child(3n+1){
    color: #000000; 
    padding: 3pt;
}

#hobbies ul li:nth-child(3n+2){
    color: #1b6fce; 
    padding: 3pt;
}

/*Gallery section*/

#gallery{
    border: 5px solid #1A477A;
    margin-bottom: 5pt;
}

#gallery img{
    max-width:100%;
}

#gallery figure{
    text-align:center;
    color:#000000;
}

/*Literature Section*/

#lit{
    border: 5px solid #1A477A;
    margin-bottom: 5pt;
}

#lit div{
    padding: 1rem;
    max-width:50rem;
    text-align: center;
    margin:0 auto;
}

/*Dropcap*/

#lit p{
    text-align: left;
}

#lit div p:first-child:first-letter{
    color:#3491FA;
    float:left;
    font-size: 50pt;
    font-family: "Grenze Gotisch", cursive;
    clear:both;
    padding: 8pt;
    border: 5px ridge #1A477A;
    margin-right: 5pt;
    line-height: .6;
    background-image: radial-gradient(#676F78,#000000);
    text-shadow: 5px 5px rgba(0,0,0,.5);
}


@media screen and (min-width: 60em){

    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 1rem;
    }



}